.aside {
    width: 200px;
    height: 100vh;
    grid-area: aside;
    box-shadow: 0px 0px 25px 1px #2828461a;
    position: fixed;
    z-index: 100;
}

.logoSection {
    display: flex;
    width: 100%;
    padding: 1.5rem 0;
    align-items: center;
    /* justify-content: center; */
    padding-left: 1rem;
    gap: 20px;

    h1 {
        font-size: 1.5rem;
        line-height: 1.2;
    }
}

.categories {

    ul {
        list-style: none;
        width: 100%;

        li {
            padding: .5rem;

            a {
                text-decoration: none;
                font-size: 1.2rem;
                color: #282846;
                font-weight: 500;
                padding-left: 1rem;
            }
        }

        li:hover {
            background: #29A19C;
            border-radius: 0 1.5rem 1.5rem 0;
        }
    }
}

.projects {
    height: calc(100vh - 4rem);
    /* Adjust the height to leave space for other content */
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* padding: 1rem; */
    /* Push the list below the nav section */

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        background-color: #fff;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }
}