.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.aside {
    width: 200px;
    height: 100vh;
    background: darkslategray;
}

.main {
    width: 80vw;
    height: 100vh;
    background: rgb(227, 246, 195);
}